---
import { arrayCards, NUM_OF_PROJECTS } from '@/utils/data';
import { baseUrl } from '@/utils/functions';
const TOTAL_IMAGES_ACHIEVE = 40;
const newArrayCards = Array.from(
  { length: TOTAL_IMAGES_ACHIEVE },
  (_, i) => arrayCards[i % NUM_OF_PROJECTS]
);
---

<section class='wrap'>
  <div class='move'>
    {
      newArrayCards.map(({ id, localImage, repo, title }) => (
        <figure class='am-figure' title={title} data-anchor={repo}>
          <img draggable="false" src={baseUrl(localImage)} />
        </figure>
      ))
    }
  </div>
</section>

<script>
  document.addEventListener('click', event => {
    const target = event.target as HTMLElement;
    const figure = target.closest<HTMLElement>('.am-figure');
    if (figure.matches('.am-figure')) {
      const anchor = figure.getAttribute('data-anchor');
      if (anchor) {
        window.open(anchor, '_blank');
      }
    }
  });
</script>

<style>
  .wrap {
    --d: 15vmax;
    place-self: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: var(--d) 0;
    max-width: calc(6 * var(--d));
    perspective: calc(3 * var(--d));
    white-space: nowrap;
    scrollbar-color: var(--primary-color) transparent;
    height: 40%;
    position: relative;
    z-index: 10;

    &::before,
    &::after {
      display: inline-block;
      width: calc(50% - 0.5 * var(--d));
      height: 0.07vmax;
      content: '';
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0.13vmax var(--primary-color);
    }
  }

  .move {
    display: inline-block;
    transform-style: preserve-3d;
  }

  figure {
    display: inline-block;
    scroll-snap-align: center;
    margin: 0;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  img {
    width: var(--d);
    aspect-ratio: 1;
    -webkit-box-reflect: below 0.52vmax linear-gradient(#0000, #0004);
    animation:
      ry 1s cubic-bezier(0.32, 0, 0.68, 0) both,
      tz 1s ease-in both;
    animation-timeline: view(inline);
    object-fit: cover;
  }

  @keyframes ry {
    0% {
      rotate: y -90deg;
    }
    50% {
      rotate: y 0deg;
      animation-timing-function: cubic-bezier(0.32, 1, 0.68, 1);
    }
    100% {
      rotate: y 90deg;
    }
  }

  @keyframes tz {
    0% {
      translate: -50% 0;
    }
    50% {
      translate: 0 0 calc(1.5 * var(--d));
      animation-timing-function: ease-out;
    }
    100% {
      translate: 50% 0;
    }
  }
</style>
