---
import { NUM_OF_PROJECTS } from '@/utils/data';
import { baseUrl } from '@/utils/functions';
const logo = baseUrl('/assets/next-js.svg');
---

<section class='am-hero'>
  <img src={logo} alt='Logo' class='logo' />
</section>

<section class='am-titulo'></section>

<style>
  .am-hero {
    height: 100vh;
    position: relative;
    z-index: 2;
    width: 100%;
  }

  .logo {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 6.4vmax;
    transform: translate(-50%, -50%);
  }

  .am-titulo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48vmax;
    height: 10vmax;
    background-image: url('/assets/titulo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: darken;
    z-index: 5;
  }
</style>
